$mainColor : #1b1b1b;
$subColor : #f8f344;

.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: $mainColor !important;
    .searchBox{
        width: 220px;
        height: 40px;
    }
    .searchInput{
        position: relative;
        border-radius: 20px;
    }
    .searchIcon{
        position: relative;
        top: -30px;
        left: 189px;
    }
    .navbarLogo{
        cursor: pointer;
    }
    .menuContainer{
        display: flex;
        justify-content: space-around;
        width: 370px;
    }
    .menu{
        color:white;
        cursor: pointer;
    }
    .click{
        color:$subColor;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
    .loginWrap{
        text-align: center;
        cursor: pointer;
        &:hover .loginIcon, &:hover .login{
            color:$subColor
        }
    }
    .login{
        margin-top: -8px;
    }
    .login, .loginIcon{
        color:white;
        font-size: 10px;
    }

}
@media (max-width: 920px) {
    .navbar{
        width:920px
    }
}
.trainingContainer{
    position: fixed;
    display: flex;
    z-index: 4;
    transform: translateY(-100px);
    width: 100%;
    justify-content: space-around;
    background-color: rgb(253, 253, 253);
    transition: all 0.3s;
    .mainHr{
        border-color:'black',
    }
    .trainingMenu{
        cursor: pointer;
        position: relative;
        z-index: 5;
        width: 33.3333333%;
        height: 54px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        transition: all 0.3s;
        transform: translateY(0px);
        &:hover > .trainingWrap{
            opacity: 1;
            pointer-events: auto;
        }
        &:hover > i{
            transform: scaleY(-1);
        }
        &:hover{
            background-color: #fffef4;
        }
    }
    i{
        transition: all 0.3s;
    }
    .show{
        display: block;
    }
    .trainingWrap{
        background-color: #fffef4;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: -17px;
        position: relative;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }
    .none{
        display: none;
    }
}
.showOut {
    transform: translateY(66px);
    }
@media (max-width: 920px) {
    .trainingContainer{
        width:920px;
        .mainHr{
           width: 430px;
        }
        .trainingMenu{
            width: (920px/3)
        }
    }
}

//메인 페이지
.informationContainer{
    transform: translateY(66px);
    background-image: url('../images/mainImg.jpeg');
    overflow: auto;
    background-repeat: no-repeat;
    height: 600px;
    background-size: 1000px auto;
    background-attachment: fixed;
    background-position: center top;
    background-clip: content-box;
    position: relative;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .informationWrap{
        width:100%;
        background-color: rgba(255, 255, 255, 0.5);
      }
        .informationBox{
            text-align: center;
            width:800px;
            margin: auto;
            padding: 20px;
        }
}

@media (max-width: 920px) {
    .informationContainer{
        width:920px;
        background-size: 700px auto;
        height:458px;
        .informationBox{
            width: 500px;
          }
    }
}

.mainTrainingContainer{
    background-color: $mainColor;
    margin-top: 66px;
    text-align: center;
    .title{
        color: white;
        font-size: 50px;
        letter-spacing: 12px;
    }
    .mainTrainingWrap{
        display: flex;
        justify-content: space-around;
    }
    .trainingBox{
        width:300px;
        height:300px;
    }
    .trainingTitle{
        color: white;
    }
   
  }

  .trainingPageContainer{
    display: flex;
    height: 100%;
    position: fixed;
    top:66px;
    .sideMenuContainer{
        text-align: center;
        background-color: #fffef4;
        height: 100%;
        width: 300px;
    }
  }
.loginContainer{
    position: relative;
    top: 200px;
    .loginTitle{
        width: 200px;
    }
    .imgWrap{
        text-align: center;
    }
    .loginInputWrap{
        width: 700px;
        height: 430px;
        background-color: #fffef4;
        border-radius: 13px;
        margin: auto;
    }
    .loginInputBox{
        width: 550px;
        margin: auto;
    }
    .inputLabel{
        font-size: 30px;
    }
    .buttonWrap{
        display: flex;
        justify-content: space-between;
    }
    input{
        border-radius: 14px;
    }
    button{
        letter-spacing: 3px;
        border-radius: 14px;
        font-size: 20px;
        background-color: $mainColor !important;
    }
}