$mainColor : #1b1b1b;
$subColor : #f8f344;
$thirdColor : #fffef4;


.navbar{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: $mainColor !important;
    .searchBox{
        width: 220px;
        height: 40px;
    }
    .searchInput{
        position: relative;
        border-radius: 20px;
    }
    .searchIcon{
        position: relative;
        top: -30px;
        left: 189px;
        cursor: pointer;
    }
    .navbarLogo{
        cursor: pointer;
    }
    .menuContainer{
        display: flex;
        justify-content: space-around;
        width: 370px;
    }
    .menu{
        color:white;
        cursor: pointer;
    }
    .click{
        color:$subColor;
        font-weight: bold;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
    .loginWrap{
        text-align: center;
        cursor: pointer;
        &:hover .loginIcon, &:hover .login{
            color:$subColor
        }
    }
    .login{
        margin-top: -8px;
    }
    .login, .loginIcon{
        color:white;
        font-size: 10px;
    }

}
@media (max-width: 920px) {
    .navbar{
        width:920px
    }
}
.trainingContainer{
    position: fixed;
    display: flex;
    z-index: 4;
    transform: translateY(-100px);
    width: 100%;
    justify-content: space-around;
    background-color: rgb(253, 253, 253);
    transition: all 0.3s;
    .mainHr{
        border-color:'black',
    }
    .trainingMenu{
        cursor: pointer;
        position: relative;
        z-index: 5;
        width: 33.3333333%;
        height: 54px;
        text-align: center;
        font-size: 17px;
        font-weight: bold;
        transition: all 0.3s;
        transform: translateY(0px);
        &:hover > .trainingWrap{
            opacity: 1;
            pointer-events: auto;
        }
        &:hover > i{
            transform: scaleY(-1);
        }
        &:hover{
            background-color: #fffef4;
        }
    }
    i{
        transition: all 0.3s;
    }
    .show{
        display: block;
    }
    .trainingWrap{
        background-color: #fffef4;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: -17px;
        position: relative;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease-in-out;
    }
    .none{
        display: none;
    }
}
.showOut {
    transform: translateY(66px);
    }
@media (max-width: 920px) {
    .trainingContainer{
        width:920px;
        .mainHr{
           width: 430px;
        }
        .trainingMenu{
            width: calc(920px / 3)
        }
    }
}

//메인 페이지
.informationContainer{
    transform: translateY(66px);
    background-image: url('../images/mainImg.jpeg');
    overflow: auto;
    background-repeat: no-repeat;
    height: 600px;
    background-size: 1000px auto;
    background-attachment: fixed;
    background-position: center top;
    background-clip: content-box;
    position: relative;
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      .informationWrap{
        width:100%;
        background-color: rgba(255, 255, 255, 0.5);
      }
        .informationBox{
            text-align: center;
            width:800px;
            margin: auto;
            padding: 20px;
        }
}

@media (max-width: 920px) {
    .informationContainer{
        width:920px;
        background-size: 700px auto;
        height:458px;
        .informationBox{
            width: 500px;
          }
    }
}

//훈련 페이지
.mainTrainingContainer{
    background-color: $mainColor;
    margin-top: 66px;
    text-align: center;
    .title{
        color: white;
        font-size: 50px;
        letter-spacing: 12px;
    }
    .mainTrainingWrap{
        display: flex;
        justify-content: space-around;
    }
    .trainingBox{
        width:300px;
        height:300px;
    }
    .trainingTitle{
        color: white;
    }
   
  }

  .trainingPageContainer{
    display: flex;
    height: 100%;
    position: fixed;
    top:66px;
    .sideMenuContainer{
        text-align: center;
        background-color: #fffef4;
        height: 100%;
        width: 300px;
    }
  }

//로그인 페이지
.loginContainer{
    position: relative;
    top: 200px;
    .loginTitle{
        width: 200px;
    }
    .imgWrap{
        text-align: center;
    }
    .loginInputWrap{
        width: 700px;
        height: 430px;
        background-color: rgb(249, 249, 249);
        border-radius: 13px;
        margin: auto;
    }
    .loginInputBox{
        width: 550px;
        margin: auto;
    }
    .inputLabel{
        font-size: 30px;
    }
    .buttonWrap{
        display: flex;
        justify-content: space-between;
    }
    input{
        border-radius: 14px;
    }
    button{
        letter-spacing: 3px;
        border-radius: 14px;
        font-size: 20px;
        background-color: $mainColor !important;
    }
    .joinMembershipWrap{
        text-align: center;
    }
    .joinMembership{
        margin: auto;
        color: #a3a3a3;
        cursor: pointer;
        display: inline-block;
        &:hover{
            text-decoration: underline;
        }
    }
    label{
        cursor: pointer;
    }
}
@media (max-width: 700px) {
    .loginContainer{
        .imgWrap{
            width: 700px;
        }
        .joinMembershipWrap{
            width: 700px;
        }
    }
}

//회원가입 페이지
.backGround{
    width: 100%;
    height: 1000px;
    background-color: rgb(249, 249, 249);
}

.joinMemberContainer {
    width: 600px;
    margin: auto;
    .titleImg{
        text-align: center;
    }
    .dateOfBirthWrap {
        display: flex;

    }
    .phoneWrap{
        display: flex;
    }
    .phone{
        width: 438px;
    }
    .phoneButton{
        height: 38px !important;
    }
    label{
        font-weight: bold;
        cursor: pointer;
    }
    img{
        cursor: pointer;
    }
    small{
        display: none;
    }
    .show{
        display: block ;
    }
}   

//작전판
.boardContainer {
    position: relative;
    top: 66px;
    display: flex;
    width: 100%;
    height: 100%;
    .board {
        height:90%;
      }
      .logo{
        z-index: 2;
        position: relative;
        left:-746px;
        top: 398px;
        width: 150px;
        height: 80px;
        opacity: 0.3;
      }
      img{
        position: absolute;
      }
      canvas, .canvas-container{
        position: fixed;
        width: 1220px !important;
        height: 812px !important;
        top: 0;
        left: 0;
        z-index: 1;
      }
    .menuContainer{
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-around;
      left:1216px;
      height: 812px;
    }
    .buttonBox{
      background-color: #1b1b1b;
      height: 100%;
      width: 132px;
    }
    button{
      height: (90%);
      width: 116px;
      border-radius: 12px;
      position: relative;
      z-index: 3;
      i{
          font-size: 25px;
      }
    }
    .subMenuContainer{
        position: absolute;
        left: 1348px;
        width: 22%;
    }
    .subMenuTitle{
      font-size:25px;
      text-align: center;
      text-align: center;
    }
    .subMenuWrap{
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: white;
        text-align: center;
        height: 101px;
    }
    .range{
        margin: auto;
        width: 80%;
    }
    .allClear{
        margin: auto;
        width: 30%;
        height: 40%;
    }
    .none{
      background-color: #1b1b1b;
      width: 100%;
      height: 742.5px;
      background-image: url('../images/logo.png');
      background-repeat: repeat;
      background-size: 233px;

    }
    .penTool{
        margin: auto;
    }
    .playerColor{
        margin: auto;
    }
}
@media (max-width:1587px) {
    .boardContainer {
     
        .board {
            height:85%;
          }
          canvas{
            position: fixed;
            width: 1152px !important;
            height: 767px !important;
            top: 0;
            left: 0;
            z-index: 1;
          }
          .menuContainer{
            left:1148px;
            height: 766.5px;
          }
          .buttonBox{
            background-color: #1b1b1b;
            height: 100%;
            width: 132px;
          }
          button{
            height:90%;
            width: 116px;
            border-radius: 12px;
            i{
                font-size: 25px;
            }
          }
          .subMenuContainer{
            position: absolute;
            left: 1280px;
            width: 22%;
        }
        .none{
            height: 697px;
          }
    }
}