.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  display: flex;
  background-color: #1b1b1b !important;
}
.navbar .searchBox {
  width: 220px;
  height: 40px;
}
.navbar .searchInput {
  position: relative;
  border-radius: 20px;
}
.navbar .searchIcon {
  position: relative;
  top: -30px;
  left: 189px;
  cursor: pointer;
}
.navbar .navbarLogo {
  cursor: pointer;
}
.navbar .menuContainer {
  display: flex;
  justify-content: space-around;
  width: 370px;
}
.navbar .menu {
  color: white;
  cursor: pointer;
}
.navbar .click {
  color: #f8f344;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}
.navbar .loginWrap {
  text-align: center;
  cursor: pointer;
}
.navbar .loginWrap:hover .loginIcon, .navbar .loginWrap:hover .login {
  color: #f8f344;
}
.navbar .login {
  margin-top: -8px;
}
.navbar .login, .navbar .loginIcon {
  color: white;
  font-size: 10px;
}

@media (max-width: 920px) {
  .navbar {
    width: 920px;
  }
}
.trainingContainer {
  position: fixed;
  display: flex;
  z-index: 4;
  transform: translateY(-100px);
  width: 100%;
  justify-content: space-around;
  background-color: rgb(253, 253, 253);
  transition: all 0.3s;
}
.trainingContainer .mainHr {
  border-color: "black";
}
.trainingContainer .trainingMenu {
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 33.3333333%;
  height: 54px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s;
  transform: translateY(0px);
}
.trainingContainer .trainingMenu:hover > .trainingWrap {
  opacity: 1;
  pointer-events: auto;
}
.trainingContainer .trainingMenu:hover > i {
  transform: scaleY(-1);
}
.trainingContainer .trainingMenu:hover {
  background-color: #fffef4;
}
.trainingContainer i {
  transition: all 0.3s;
}
.trainingContainer .show {
  display: block;
}
.trainingContainer .trainingWrap {
  background-color: #fffef4;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -17px;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.trainingContainer .none {
  display: none;
}

.showOut {
  transform: translateY(66px);
}

@media (max-width: 920px) {
  .trainingContainer {
    width: 920px;
  }
  .trainingContainer .mainHr {
    width: 430px;
  }
  .trainingContainer .trainingMenu {
    width: 306.6666666667px;
  }
}
.informationContainer {
  transform: translateY(66px);
  background-image: url("../images/mainImg.jpeg");
  overflow: auto;
  background-repeat: no-repeat;
  height: 600px;
  background-size: 1000px auto;
  background-attachment: fixed;
  background-position: center top;
  background-clip: content-box;
  position: relative;
}
.informationContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.informationContainer .informationWrap {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.informationContainer .informationBox {
  text-align: center;
  width: 800px;
  margin: auto;
  padding: 20px;
}

@media (max-width: 920px) {
  .informationContainer {
    width: 920px;
    background-size: 700px auto;
    height: 458px;
  }
  .informationContainer .informationBox {
    width: 500px;
  }
}
.mainTrainingContainer {
  background-color: #1b1b1b;
  margin-top: 66px;
  text-align: center;
}
.mainTrainingContainer .title {
  color: white;
  font-size: 50px;
  letter-spacing: 12px;
}
.mainTrainingContainer .mainTrainingWrap {
  display: flex;
  justify-content: space-around;
}
.mainTrainingContainer .trainingBox {
  width: 300px;
  height: 300px;
}
.mainTrainingContainer .trainingTitle {
  color: white;
}

.trainingPageContainer {
  display: flex;
  height: 100%;
  position: fixed;
  top: 66px;
}
.trainingPageContainer .sideMenuContainer {
  text-align: center;
  background-color: #fffef4;
  height: 100%;
  width: 300px;
}

.loginContainer {
  position: relative;
  top: 200px;
}
.loginContainer .loginTitle {
  width: 200px;
}
.loginContainer .imgWrap {
  text-align: center;
}
.loginContainer .loginInputWrap {
  width: 700px;
  height: 430px;
  background-color: rgb(249, 249, 249);
  border-radius: 13px;
  margin: auto;
}
.loginContainer .loginInputBox {
  width: 550px;
  margin: auto;
}
.loginContainer .inputLabel {
  font-size: 30px;
}
.loginContainer .buttonWrap {
  display: flex;
  justify-content: space-between;
}
.loginContainer input {
  border-radius: 14px;
}
.loginContainer button {
  letter-spacing: 3px;
  border-radius: 14px;
  font-size: 20px;
  background-color: #1b1b1b !important;
}
.loginContainer .joinMembershipWrap {
  text-align: center;
}
.loginContainer .joinMembership {
  margin: auto;
  color: #a3a3a3;
  cursor: pointer;
  display: inline-block;
}
.loginContainer .joinMembership:hover {
  text-decoration: underline;
}
.loginContainer label {
  cursor: pointer;
}

@media (max-width: 700px) {
  .loginContainer .imgWrap {
    width: 700px;
  }
  .loginContainer .joinMembershipWrap {
    width: 700px;
  }
}
.backGround {
  width: 100%;
  height: 1000px;
  background-color: rgb(249, 249, 249);
}

.joinMemberContainer {
  width: 600px;
  margin: auto;
}
.joinMemberContainer .titleImg {
  text-align: center;
}
.joinMemberContainer .dateOfBirthWrap {
  display: flex;
}
.joinMemberContainer .phoneWrap {
  display: flex;
}
.joinMemberContainer .phone {
  width: 438px;
}
.joinMemberContainer .phoneButton {
  height: 38px !important;
}
.joinMemberContainer label {
  font-weight: bold;
  cursor: pointer;
}
.joinMemberContainer img {
  cursor: pointer;
}
.joinMemberContainer small {
  display: none;
}
.joinMemberContainer .show {
  display: block;
}

.boardContainer {
  position: relative;
  top: 66px;
  display: flex;
  width: 100%;
  height: 100%;
}
.boardContainer .board {
  height: 90%;
}
.boardContainer .logo {
  z-index: 2;
  position: relative;
  left: -746px;
  top: 398px;
  width: 150px;
  height: 80px;
  opacity: 0.3;
}
.boardContainer img {
  position: absolute;
}
.boardContainer canvas, .boardContainer .canvas-container {
  width: 1220px !important;
  height: 812px !important;
}
.boardContainer .menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  left: 1216px;
  height: 812px;
}
.boardContainer .buttonBox {
  background-color: #1b1b1b;
  height: 100%;
  width: 132px;
}
.boardContainer button {
  height: 90%;
  width: 116px;
  border-radius: 12px;
  position: relative;
  z-index: 3;
}
.boardContainer button i {
  font-size: 25px;
}
.boardContainer .subMenuContainer {
  position: absolute;
  left: 1348px;
  width: 22%;
}
.boardContainer .subMenuTitle {
  font-size: 25px;
  text-align: center;
  text-align: center;
}
.boardContainer .subMenuWrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 101px;
}
.boardContainer .subMenuWrap2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 101px;
  width: 50%;
}
.boardContainer .range {
  margin: auto;
  width: 80%;
}
.boardContainer .allClearWrap {
  margin-top: 50px;
}
.boardContainer .allClear {
  margin: auto;
  width: 97px;
  height: 40px;
}
.boardContainer .none {
  background-color: #1b1b1b;
  width: 100%;
  height: 742.5px;
  background-image: url("../images/logo.png");
  background-repeat: repeat;
  background-size: 233px;
}
.boardContainer .inputRangeWrap {
  height: 50px;
  text-align: center;
  background-color: white;
}
.boardContainer .penTool {
  margin: auto;
}
.boardContainer .eraserMenuWrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  height: 200px;
}
.boardContainer .eraserImageWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.boardContainer .eraserIcon {
  background-position: center center;
  background-clip: padding-box;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%;
  border: solid #1b1b1b 3px;
  background-image: url("../images/eraserIcon.png");
  transition: all 0.3s;
}
.boardContainer .eraserIcon:hover {
  border: solid #f8f344 3px;
}
.boardContainer .eraserIconClick {
  border: solid #f8f344 3px !important;
}
.boardContainer #smallEraserIcon {
  width: 30px;
  height: 30px;
}
.boardContainer #middleEraserIcon {
  width: 50px;
  height: 50px;
}
.boardContainer #largeEraserIcon {
  width: 80px;
  height: 80px;
}
.boardContainer .playerInputWrap {
  display: flex;
}
.boardContainer .playerColor {
  margin: auto;
}
.boardContainer .addPlayer, .boardContainer .addPlayer2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
}
.boardContainer .addPlayer img, .boardContainer .addPlayer2 img {
  width: 30px;
  position: relative;
  top: 10px;
}
.boardContainer .smallEraserCursor {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 16 16"><circle cx="8" cy="8" r="3" fill="white" opacity="0.7"/></svg>') 50 50, auto !important;
}
.boardContainer .middleEraserCursor {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 16 16"><circle cx="8" cy="8" r="3" fill="white" opacity="0.7"/></svg>') 50 50, auto !important;
}
.boardContainer .largeEraserCursor {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" viewBox="0 0 16 16"><circle cx="8" cy="8" r="5" fill="white" opacity="0.35"/><circle cx="8" cy="8" r="5" fill="white" opacity="0.35"/></svg>') 60 60, auto !important;
}

@media (max-width: 1587px) {
  .boardContainer .board {
    height: 85%;
  }
  .boardContainer canvas {
    width: 1152px !important;
    height: 767px !important;
  }
  .boardContainer .menuContainer {
    left: 1148px;
    height: 766.5px;
  }
  .boardContainer .buttonBox {
    background-color: #1b1b1b;
    height: 100%;
    width: 132px;
  }
  .boardContainer button {
    height: 90%;
    width: 116px;
    border-radius: 12px;
  }
  .boardContainer button i {
    font-size: 25px;
  }
  .boardContainer .subMenuContainer {
    position: absolute;
    left: 1280px;
    width: 22%;
  }
  .boardContainer .none {
    height: 697px;
  }
}/*# sourceMappingURL=test.css.map */